<section id="content" class="center">
	<article id="profile">
		<div id="user-info-container">
			<h1>SherCoder <span>[Pardeep Singh]</span></h1>
			<%= link_to "Edit Profile", edit_user_path(:id) %>
			
			<div class="clear"></div>

			<div id="user-image">
				<%= image_tag "mypic.jpg" %>
			</div>
		</div>
	</article>

	<article class="center">
		
	</article>

</section>