<section id="content" class="center">

	<article id="bookmark-list">
		<h1>Popular Bookmark List</h1>
		
		<div class="bookmark">
			<a href="../bookmarks/show.html">
				<ul>	
					<li>Article</li>
					<li>How did they find that monkey?</li>
					<li>&bigstar;&bigstar;&bigstar;&star;&star;</li>
				</ul>
			</a>
		</div>

		<div class="bookmark">
			<a href="../bookmarks/show.html">
				<ul>	
					<li>Article</li>
					<li>How did they find that monkey?</li>
					<li>&bigstar;&bigstar;&bigstar;&star;&star;</li>
				</ul>
			</a>
		</div>

		<div class="bookmark">
			<a href="../bookmarks/show.html">
				<ul>	
					<li>Article</li>
					<li>How did they find that monkey?</li>
					<li>&bigstar;&bigstar;&bigstar;&star;&star;</li>
				</ul>
			</a>
		</div>

		<div class="bookmark">
			<a href="../bookmarks/show.html">
				<ul>	
					<li>Article</li>
					<li>How did they find that monkey?</li>
					<li>&bigstar;&bigstar;&bigstar;&star;&star;</li>
				</ul>
			</a>
		</div>
		
	</article>
</section>