<section id="people-container">
	<h1>How did they find that monkey?</h1>
	<table id="details">
		<tr>
			<td>Video</td>
			<td>&bigstar;&bigstar;&bigstar;&bigstar;&star;</td>
			<td><span id="btn"><%= link_to "Edit", edit_bookmark_path(:id) %></span></td>
		</tr>
		<tr>
			<td class="column-width" colspan="3"><%= link_to "Link to the bookmark", "http://www.google.com"%> </td>
		</tr>
		<tr>
			<td><h1>Description</h1></td>
		</tr>
		<tr>
			<td class="column-width" colspan="3">I am shocked. How did they find that monkey? This is just crazy. I am going nuts. Am I going nuts? I mean seriously where did he come from?</td>
		<tr>
		<tr>
			<td colspan="3"><a href="../tags/chico.html">#Africa</a> <a href="../tags/chico.html">#monkey</a> <a href="../tags/chico.html">#animal</a> <a href="../tags/chico.html">#new-species</a></td>
		<tr>
	</table>
</section>