a {
	text-decoration: none;
	outline: none;
	color: #F5EDD5;
}

ul {
	list-style-type: none;
}
body {
	background-color: #F5EDD5;
}

.clear { clear: both;}

#page-wrapper {
	width: 980px;
	margin: 0 auto;
}

#page-wrapper header, #page-wrapper footer {
	width: 970px;
  position: fixed;
  padding: 5px;
}

#page-wrapper header {
	background-color: #E89154;/*#D9630F;*/
	color: #F5EDD5;
}

#page-wrapper footer {
	text-align: right;
	color: #E89154;
	bottom: 0px;
}

#page-wrapper header hgroup {
	width: 150px;
	float: left;
}

header nav {
	float: right;
}

header nav li {
  float:left;
  padding: 5px;
}

header nav li:hover {
	background-color: #A14708;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

header hgroup ul li {
	display: inline-block;
}

header hgroup ul li:last-child {
	vertical-align: top;
	padding-top: 4px;
	font-size: 25px;
}

header hgroup ul li:last-child a:hover {
	color: #A14708;
}

nav ul li:last-child {
  border-right: none;
}

#main-wrapper {
	padding: 80px 0 100px 0;
}

#side-nav {
	display: inline-block;
	width: 150px;
	float: left;
}

#side-nav nav ul li {
	position: relative;
	font-size: 20px;
	text-align: left;
	padding: 5px;
	margin-bottom: 1px;
	background-color: #E89154;
}

#side-nav nav ul li:hover {
	text-align: right;
}

#side-nav nav ul li:last-child {
	margin-bottom: 0;
}

#side-nav nav ul li ul {
	position: absolute;
	left: 150px;
	top: 0;
	display: none;
}

#side-nav nav ul li:hover ul {
	margin-left: 1px;
	display: block;
	width: 150px;
}

#content {
	display: inline-block;
	width: 790px;
	float: left;
	margin-left: 38px;
}


/* End Home page */

/* Login page */

#login-content {
	width: 780px;
}

.half {
	float: left;
}

.registering-option {
	width: 200px;
	padding: 50px;
	text-align: center;
}

.registering-option h3 {
	padding-bottom: 5px;
	font-weight: normal;
}

.registering-option h4 a {
	color: #A14708;
	font-weight: bold;
}

.registering-option h4 a:hover {
	text-decoration: underline;
}

.login-form {
	width: 375px;
	padding: 20px 50px 50px;
	border-left: 1px dotted #A14708;
}

.login-form h2, .signup-content h2 {
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 1em;
}

form { 
	width: 185px;
}

input:focus {
	outline: none;
}

#username, #password, #first-name, #last-name, #email {
	margin-bottom: 10px;
	padding: 5px;
	border: 2px solid #A14708;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#btn {
	outline: none;
	cursor: pointer;
	border: 0;
	background: #A14708;
	color: #F5EDD5;
	padding: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 1em;
}

/* End Login page */


/* Sign up page */

/* this page takes a lot of css from login page */
.signup-content {
	width: 740px;
	padding: 20px;
}

.form-center {
	width: 200px;
	margin: 0 auto;
}

/* End sign up page */

/* profile page */

#profile {
	width: 770px;
	padding: 0 10px 10px 10px;
}

#user-info-container {
	width: 730px;
	height: 120px;
	margin: 0 20px 20px 20px;
	padding: 5px;
	border-top: 1px dotted #A14708;
	border-bottom: 1px dotted #A14708;
	text-align: center;
}

#user-info-container h1 {
	width: 300px;
	float: left;
	text-align: left;
	font-size: 1.2em;
	font-weight: normal;
}

#user-info-container h1 span {
	font-size: .7em;
	color: gray;
}

#user-info-container h2 {
	float: right;
	padding: 5px;
	background-color: #E89154;
	border-radius: 3px;
	cursor: pointer;
}

#user-info-container h2:hover {
	background-color: #A14708;
}

#user-image {
	width: 100px;
	float: left;
	padding: 5px;
}

#user-image img {
	max-width: 80px;
}

#user-info {
	float: left;
	margin-left: 20px;
	marging-top: 5px;
	padding: 5px;
}

#bookmark-list {
	width: 740px;
	margin: 0 0 20px 30px;
}

#bookmark-list > h1 {
	padding: 5px;
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0px;
	background-color: #E89154;
	color: #F5EDD5;
}

.bookmark {
	width: 730px;
	padding: 5px;
	border-top: 1px dotted #A14708;
}

.bookmark:last-child {
	border-bottom: 1px dotted #A14708;
}

.bookmark a table {
	width: 100%;
}

.bookmark a table tr td {
	/*border-right: 1px dotted #A14708;*/
	text-align: center;
	color: #A14708;
}

.bookmark:hover {
	background-color: #A14708;
}

.bookmark:hover a table tr td {
	/*border-right: 1px dotted #F5EDD5;*/
	color: #F5EDD5;
}

.bookmark a table tr td:first-child {
	float: left;
}

.bookmark a table tr td:last-child {
	float: right;
}


/* end profile page */
