a {
	text-decoration: none;
	outline: none;
	color: #F5EDD5;
}
body {
	background-color: #F5EDD5;
	width: 100%;
}

#page-wrapper {
	width: 80%;
	max-width: 980px;
	margin: 0 auto;
}

#page-wrapper header, #page-wrapper footer {
	width: 80%;
	max-width: 960px;
	background-color: #E89154;/*#D9630F;*/
  position: fixed;
  color: #F5EDD5;
  padding:10px;
}

#page-wrapper footer {
	text-align: center;
	bottom: 0px;
}

#page-wrapper header hgroup {
	width: 100px;
	float: left;
}

header nav {
	float: right;
}

header nav ul {
	list-style-type: none;
}

header nav li {
  float:left;
  padding: 5px;
}

header nav li:hover {
	background-color: #A14708;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

nav ul li:last-child {
  border-right: none;
}

#main-wrapper {
	max-width: 960px;
	padding: 200px 20px 100px 20px;
	height: 80%;
	max-height: 500px;
}

#side-nav {
	display: inline-block;
	width: 150px;
	/*border: 1px solid #E89154;
	border-radius: 5px;*/
	padding: 5px;
	margin-right: 5px;
}

#side-nav ul li {
	text-align: left;
	padding: 15px;
	margin-bottom: 10px;
	background-color: #E89154;
}

#side-nav ul li:hover {
	text-align: right;
}

#side-nav ul li:last-child {
	margin-bottom: 0;
}

#side-nav ul li {
	font-size: 20px;
}
